<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student.smartmediagallery">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.list.PhotoListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.list.SoundListActivity"/>
        <activity android:name=".ui.activity.list.VideoListActivity"/>
        <activity android:name=".ui.activity.pager.PhotoPagerActivity"/>
        <activity android:name=".ui.activity.player.SoundPlayerActivity"/>
        <activity android:name=".ui.activity.player.VideoPlayerActivity"/>

        <provider
            android:authorities="com.example.student.smartmediagallery.internal_file_provider"
            android:name=".provider.InternalFileProvider"
            android:enabled="true"
            android:grantUriPermissions="true">
        </provider>

        <!--<service android:name=".service.DownloadingService"/>-->
        <service android:name=".service.RefactoredDownloaderService"/>
        <activity android:name=".ui.activity.player.RefactoredVideoPlayerActivity"></activity>
        <receiver android:name=".ui.activity.player.RefactoredVideoPlayerActivity$DownloadManagerReceiver"></receiver>

        <!--<receiver-->
            <!--android:name=".net.DownloadManager$DownloadManagerReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="@string/action_receiver_download_manager"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver android:name=".service.DownloaderService$DownloaderServiceReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="@string/action_receiver_downloader_service"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>
