<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student.smartmediagallery">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.list.PhotoListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.list.SoundListActivity"></activity>
        <activity android:name=".ui.activity.list.VideoListActivity"></activity>
        <activity android:name=".ui.activity.pager.PhotoPagerActivity"></activity>
        <activity android:name=".ui.activity.player.SoundPlayerActivity"></activity>
        <activity android:name=".ui.activity.player.VideoPlayerActivity"></activity>

        <provider
            android:authorities="com.example.student.smartmediagallery.internal_file_provider"
            android:name=".provider.InternalFileProvider"
            android:enabled="true"
            android:grantUriPermissions="true">
        </provider>

        <service android:name=".service.DownloadingService"></service>
        <service android:name=".service.NewDownloaderService"></service>

        <!--<receiver android:name=".net.DownloadManager$DownloadingReceiver" ></receiver>-->
        <!--<receiver android:name=".service.NewDownloaderService$DownloaderServiceReceiver"></receiver>-->
    </application>

</manifest>
